<div id="content">
	<nav id="nav-ver">
		<ul class="nav-ver">
			<li id="myListBtn">Pregled</li>
			<li id="newCBtn">Dodaj vozilo</li>
			<li id="editPBtn">Uredi profil</li>
		</ul>
	</nav>
	
	<section class="right">
		<h2><%= @user.email %></h2>
	</section>
	
	<div id="myList" class="hide">
		<section class="right">
			<h3>Seznam vozil</h3>
			<div class="section-content">
				<table>
					<thead>
						<tr>
							<th>Znamka</th>
							<th>Model</th>
							<th>Letnik</th>
							<th>Moč</th>
							<th>Gorivo</th>
							<th>Ø</th>
						</tr>
					</thead>
					<tbody>
						<% @list.each do |c| %>
							<tr>
								<td><a href="/cars/<%= c.id %>"><%= c.model.make.name %></a></td>
								<td><%= c.model.name %></td>
								<td><%= c.year %></td>
								<td><%= c.power %> kW</td>
								<td><%= c.fuel_type.name %></td>
								<% if c.con_avg!=nil %>
									<td class="align-right"><%= '%.2f' % c.con_avg %> l/100km</td>
								<% else %>
									<td class="align-right">-</td>
								<% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</section>
	</div>

	<div id="newC" class="hide">
		<section class="right">
			<h2>Dodaj vozilo</h2>
		</section>
		
		<section class="right">
			<h3>Podatki o vozilu</h3>
			<div class="input">
				<%= form_tag cars_path do %>
					<p>
						<label>
							Znamka:
							<select id = "make">
							</select>
						</label>
					</p>
					<p>
						<label>
							Model:
							<select id = "model" name="car[model_id]">
							</select>
						</label>
					</p>
					<p>
						<label>
							Gorivo:
							<select id = "fuel" name="car[fuel_type_id]">
														 </select>
						</label>
					</p>
					<p>
						<label>
							Letnik:
							<input id="my" type = "number"  name="car[year]" placeholder = "2013"/>
						</label>
					</p>
					<p>
						<label>
							Moč [kW]:
							<input type = "number"  name="car[power]" placeholder = "100"/>
						</label>
					</p>
					<p class="buttons">
						<input type = "submit" value = "Dodaj" />
					</p>			
				<% end %>
			</div>
			<div class="clear"></div>
		</section>
	</div>

	<div id="editP" class="hide">
		<section class="right">
			<h2>Uredi profil</h2>
		</section>
		
		<section class="right">
			<h3>Podatki o uporabniku</h3>
			<div class="input">
				<%= form_for(@user) do |f| %>
				    <p>
						<label>
						    <%= f.label :email, "Email:" %>
						    <%= f.text_field :email %>
						</label>
					</p>
					<p>
						<label>
						    <%= f.label :password, "Geslo:" %>
						    <%= f.password_field :password %>
				    	</label>
					</p>
					<p>
						<label>
						    <%= f.label :password_confirmation, "Ponovni vnos gesla:" %>
						    <%= f.password_field :password_confirmation %>
				    	</label>
					</p>
					<p class="buttons">
					    <%= f.submit "Potrdi" %>
					    <%= render 'shared/error_messages' %>
				    </p>
			    <% end %>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>