<div id="content">
	<section>
		<article>
			<h2 id="headOktan">Oktan</h2>
			<p id="parOktan">
				Oktan je spletna aplikacija za beleženje in analizo porabe vašega jeklenega konjička. Brezplačna registracija Vam omogoča uporabo vseh funkcij vključno s kalkulatorjem stroškov na poljubno dolgi poti glede na Vašo dosedanjo porabo.
			</p>
		</article>
	</section>
	
	<section>
		<div id="search">
			<h2 id="headQuickSearch">Hitro iskanje</h2>
			<form action = "/cars/search" method="get">
				<p>
					<label>
						<span id="labelMake">Znamka:</span>
						<select id = "make" name = "makeID">
						</select>
					</label>
				</p>
				<p>
					<label>
						<span id="labelModel">Model:</span>
						<select id = "model" name = "modelID">
						</select>
					</label>
				</p>
				<p class="buttons">
					<button type = "submit" id="btnSearch">Išči </button>
					<button type = "reset" id="btnClear">Razveljavi</button>
				</p>   
			</form>
		</div>
		<div id="loginf">
			<% if signed_in? %>
				<h2>Prijavljen</h2>
				<p>
					<label><%= current_user.email %></label>
				</p>
				<br/>
				<table>
					<thead>
						<tr>
							<th>Znamka</th>
							<th>Model</th>
							<th>Letnik</th>
							<th>Moč</th>
							<th>Gorivo</th>
						</tr>
					</thead>
					<tbody>
						<% @list.each do |c| %>
							<tr>
								<td><a href="/cars/<%= c.id %>"><%= c.model.make.name %></a></td>
								<td><%= c.model.name %></td>
								<td><%= c.year %></td>
								<td><%= c.power %> kW</td>
								<td><%= c.fuel_type.name %></td>
							</tr>
						<% end %>

					</tbody>
				</table>
			<% else %>
				<h2 id="headLogin">Prijava</h2>
				<%= form_for(:session, url: sessions_path) do |f| %>
					<p>
						<label>
					    <%= f.label :email, "Email:" %>
					    <%= f.text_field :email, placeholder: "ime@domena.si" %>
					    </label>
					</p>

					<p>
						<label>
						    <%= f.label :password, "Geslo:" %>
						    <%= f.password_field :password, placeholder: "geslo" %>
						</label>
					</p>
			      	<p class="buttons">
			      		<%= f.submit "Prijava", class: "btn btn-large btn-primary" %>
			      	</p>
			    <% end %>
			<% end %>
		</div>
		<div class="clear"></div>
	</section>
	
	<section>
		<h2 id="headHOF">Lestvica najbolj varčnih</h2>
		<div class="section-content">
			<table>
				<thead>
					<tr>
						<th id="thMake">Znamka</th>
						<th id="thModel">Model</th>
						<th id="thYear">Letnik</th>
						<th id="thPower">Moč</th>
						<th id="thFuel">Gorivo</th>
						<th>Ø</th>
						<th id="thUser">Uporabnik</th>
					</tr>
				</thead>
				<tbody>
					<% @top.each do |c| %>
						<tr>
							<td><a href="/cars/<%= c.id %>"><%= c.model.make.name %></a></td>
							<td><%= c.model.name %></td>
							<td><%= c.year %></td>
							<td><%= c.power %> kW</td>
							<td><%= c.fuel_type.name %></td>
							<td class="align-right"><%= '%.2f' % c.con_avg %> l/100km</td>
							<td class="align-right"><%= c.user.email %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</section>
</div>