<div id="content">
	<nav class="nav-ver">
		<form action = "/cars/search" method="get">
			<p>
				<label>
					Znamka:
					<select id = "make" name="makeID">
					</select>
				</label>
			</p>
			<p>
				<label>
					Model:
					<select id = "model" name="modelID">
					 </select>
				</label>
			</p>
			<p>
				<label>
					Gorivo:
					<select id = "fuel" name="fTypeID">
					</select>
				</label>
			</p>
			<p>
				<label>
					Letnik
					<br/>
					od:
					<input type = "number" name="yFrom" value="<%= @yFrom %>" placeholder = "2013"/>
				</label>
				<label>
					do: 
					<input type = "number" name="yTo" value="<%= @yTo %>" placeholder = "2013"/>
				</label>
			</p>
			<p>
				<label>
					Moč [kW]
					<br/>
					od:
					<input type = "number" name="pFrom" value="<%= @pFrom %>" placeholder = "100"/>
				</label>
				<label>
					do: 
					<input type = "number" name="pTo" value="<%= @pTo %>" placeholder = "150"/>
				</label>
			</p>
			<p class="buttons">
				<input type = "submit" value = "Išči" />
			</p>					
		</form>
	</nav>
	
	<section class="right">
		<article>
			<h2>Rezultati iskanja</h2>
			<table>
				<tr>
					<td>Število vozil</td>
					<td class="align-right"><%= @count %></td>
				</tr>
				<tr>
					<td>Minimalna poraba</td>
					<td class="align-right"><%= '%.2f' % @conMin %> l/100km</td>
				</tr>
				<tr>
					<td>Povprečna poraba</td>
					<td class="align-right"><%= '%.2f' % @conAvg %> l/100km</td>
				</tr>
				<tr>
					<td>Maksimalna poraba</td>
					<td class="align-right"><%= '%.2f' % @conMax %> l/100km</td>
				</tr>
			</table>
		</article>
	</section>
	
	<section class="right">
		<article>
			<table>
				<thead>
					<tr>
						<th id="thMake">Znamka</th>
						<th id="thModel">Model</th>
						<th id="thYear">Letnik</th>
						<th id="thPower">Moč</th>
						<th id="thFuel">Gorivo</th>
						<th>Ø</th>
						<th id="thUser">Uporabnik</th>
					</tr>
				</thead>
				<tbody>
					<% @cars.each do |c| %>
						<tr>
							<td><a href="/cars/<%= c.id %>"><%= c.model.make.name %></a></td>
							<td><%= c.model.name %></td>
							<td><%= c.year %></td>
							<td><%= c.power %> kW</td>
							<td><%= c.fuel_type.name %></td>
							<td class="align-right"><%= '%.2f' % c.con_avg %> l/100km</td>
							<td class="align-right"><%= c.user.email %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</article>
	</section>
</div>