<div id="content">
	<nav id="nav-ver">
		<ul class="nav-ver">
			<li id="entBtn">Pregled</li>
			<% if @isOwner %>
				<li id="newEntBtn">Vpis porabe</li>
			<% end %>
			<li id="tlBtn">Časovnica</li>
			<li id="calcBtn">Kalkulator</li>
		</ul>
	</nav>
	
	<section id="carInfo" class="right">
		<h2><%= @carHead %></h2>
		<div class="section-content">
			<table id="caravg">
				<tr>
					<td>Minimalna poraba</td>
					<td class="align-right"><%= '%.2f' % @conMin %> l/100km</td>
				</tr>
				<tr>
					<td>Povprečna poraba</td>
					<td class="align-right"><%= '%.2f' % @conAvg %>  l/100km</td>
				</tr>
				<tr>
					<td>Maksimalna poraba</td>
					<td class="align-right"><%= '%.2f' % @conMax %>  l/100km</td>
				</tr>
				<tr>
					<td>Strošek goriva</td>
					<td class="align-right"><%= '%.2f' % @costAvg %>  €/100km</td>
				</tr>
			</table>
		</div>	
		<div class="clear"></div>
	</section>
	
	<div id="ent" class="hide">
		<section class="right">
			<h3>Vpisi</h3>
			<div id="entries">
				<table>
					<thead>
						<tr>
							<th>Datum</th>
							<th>Kilometri</th>
							<th>Prevoženo</th>
							<th>Litri</th>
							<th>Znesek</th>
							<th>Ø</th>
						</tr>
					</thead>
					<tbody>
						<% @entries.each do |e| %>
							<tr>
								<td class="align-left"><%= e.date %></td>
								<td><%= e.odo %> km</td>
								<% if e.km!=nil %>
									<td><%= e.km %> km</td>
								<% else %>
									<td></td>
								<% end %>
								<td><%= '%.2f' % e.quantity %> l</td>
								<td><%= '%.2f' % e.price %> €</td>
								<% if e.con!=nil %>
									<td class="align-right"><%= '%.2f' % e.con %> l/100km</td>
								<% else %>
									<td class="align-right">prvi vpis</td>
								<% end %>
							</tr>
						<% end %>
					</tbody>
					<tfoot>
					<tr>
					   <th>Skupaj</th>
					   <th></th>
					   <th><%= @kmSum %>  km</th>
					   <th><%= '%.2f' % @quantitySum %>  l</th>
					   <th><%= '%.2f' % @priceSum %> €</th>
					   <th class="align-right"><%= '%.2f' % @conAvg %> l/100km</th>
					</tr>
					</tfoot>
				</table>
			</div>
		</section>

		<section class="right">
			<h3>Komentarji</h3>
			<% if signed_in? %>
			<div id="comment">
				<%= form_for @newComment do |f| %>
					<%= f.text_area :value %>
					<%= f.hidden_field :car_id, value: @carID %>
					<p class="buttons">
						<%= f.submit "Oddaj" %>
					</p>   
				<% end %>
			</div>
			<div class="clear"></div>
			<% end %>
			
			<div id="comments">
				<% @comments.each do |c| %>
					<p><%= c.user.email %>: <%= c.value %></p>
				<% end %>
			</div>
		</section>
		
	</div>
	
	<% if @isOwner %>
		<div id="newEnt" class="hide">
			<section class="right">
				<h3>Nov vpis</h3>
				<div class="input">
					<%= form_for @newEntry do |f| %>
						<p>
							<label>
								<%= f.label :date, "Datum:" %>
								<%= f.text_field :date, id: "datepicker", placeholder: "01.01.2013" %>
							</label>
						</p>
						<p>
							<label>
								<%= f.label :odo, "Kilometri:" %>
								<%= f.text_field :odo , placeholder: "130000"%>
							</label>
						</p>
						<p>
							<label>
								<%= f.label :quantity, "Litri:" %>
								<%= f.text_field :quantity, placeholder: "60.00" %>
							</label>
						</p>
						<p>
							<label>
								<%= f.label :price, "Znesek:" %>
								<%= f.text_field :price, placeholder: "90.00" %>
							</label>
						</p>
						<%= f.hidden_field :car_id, value: @carID %>
						<p class="buttons">
							<%= f.submit "Vpiši" %>
						</p>   
					<% end %>

					<div class="clear"></div>
				</div>
			</section>
		</div>
	<% end %>

	<div id="tl" class="hide">
		<section class="right">
			<h3>Časovnica</h3>
			<canvas id="myChart" height="400" width="700"></canvas>
		</section>
	</div>

	<div id="calc" class="hide" >
		<section class="right">
			<h3>Kalkulator storškov</h3>
			<form id="calcForm">
				<p>
					<label>
						Vnesite dolžino željene poti: 
						<input id="length"> km
					</label>
					<button>Izračunaj</button>
				</p>
			</form>
			<div class="clear"></div>
			<p id="calcResult"></p>
		</section>
	</div>
</div>
<script>
	conAvg=<%= @conAvg %>;
	costAvg=<%= @costAvg %>;
	tLabels=<%= @tLabels %>;
	tValues=<%= @tValues %>;
</script>