<!DOCTYPE html>
<html>
<head>
	<title>Oktan - spletna aplikacija za beleženje in analizo porabe</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
<head>
<body>
	<div class="container">
		<header>
			<div class="inner">
				<div class="logo" title="Oktan"><%= image_tag("logo.png", alt: "logo") %></div>
				<div id="login">
					<a href="/" id="miLogin">Prijava</a> | <a href="/user/register" id="miRegister">Registracija</a>
				</div>
			</div>
		</header>
		<nav id="nav-bar">
			<div class="inner">
				<ul class="nav-bar">
					<li><a href="/" id="miHome">Domov</a></li>
					<li><a href="/car/search" id="miSearch">Iskanje</a></li>
					<li><a href = "/user/profile">Moj profil</a></li>
				</ul>
				<ul class="lang-bar">
				</ul>
			</div>
		</nav>
		<div id="content">
			<%= yield %>
		</div>
		<footer>
			<div class="inner">Developed by JK</div>
		</footer>
	</div>
</body>
</html>